@{
    ViewData["Title"] = "Meu Perfil";
}

    <link rel="stylesheet" href="/css/Conta2.css" asp-append-version="true" />


<div class="perfil-container">
    <div class="perfil-header">
        <i class="fas fa-user-circle perfil-icon"></i>
        <h2>Perfil do Usuário</h2>
    </div>

    <div class="perfil-info">
        <h3>Informações do Usuário</h3>

        <div class="info-item">
            <i class="fas fa-id-badge"></i>
            <strong>Nome:</strong>
            <span>@User.Identity.Name</span>
        </div>
        <div class="info-item">
            <i class="fas fa-envelope"></i>
            <strong>E-mail:</strong>
            <span>@(User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value)</span>
        </div>
        <div class="info-item">
            <i class="fas fa-briefcase"></i>
            <strong>Cargo:</strong>
            <span>@(User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value)</span>
        </div>
    </div>

</div>